altair==5.4.0
altgraph==0.17.3
annotated-types==0.7.0
anyio==3.7.1
asttokens==2.2.1
attrs==24.2.0
auto-py-to-exe==2.36.0
backcall==0.2.0
beautifulsoup4==4.12.3
blinker==1.6.2
bottle==0.12.25
bottle-websocket==0.2.9
bs4==0.0.2
cachetools==5.5.0
certifi==2023.5.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.5
colorama==0.4.6
comm==0.1.3
contourpy==1.2.1
cryptography==43.0.0
CTkListbox==0.4
CTkMessagebox==2.3
customtkinter==5.2.0
cycler==0.12.1
darkdetect==0.8.0
debugpy==1.6.7
decorator==5.1.1
dnspython==2.6.1
docx==0.2.4
Eel==0.16.0
email_validator==2.1.1
et-xmlfile==1.1.0
executing==1.2.0
fastapi==0.115.0
Flask==3.0.3
Flask-Cors==4.0.0
flask-mongoengine==1.0.0
Flask-WTF==1.2.1
fonttools==4.53.1
frozendict==2.4.4
future==0.18.3
gevent==23.7.0
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.43
greenlet==2.0.2
h11==0.14.0
html5lib==1.1
idna==3.4
install==1.3.5
ipykernel==6.24.0
ipython==8.14.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.3.0
jupyter_core==5.3.1
kiwisolver==1.4.5
lxml==5.2.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.9.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mongoengine==0.28.2
multitasking==0.0.11
mypy==1.4.1
mypy-extensions==1.0.0
mysql-connector-python==9.0.0
narwhals==1.5.2
nest-asyncio==1.5.6
numpy==1.25.1
ombott==2.0
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==23.1
panda==0.3.1
pandas==2.0.3
parso==0.8.3
peewee==3.17.6
pefile==2023.2.7
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.9.1
plotly==5.23.0
pluralize==20240519.3
portalocker==2.10.1
prompt-toolkit==3.0.39
protobuf==5.27.3
psutil==5.9.5
pure-eval==0.2.2
py4web==1.20240713.1
pyarrow==17.0.0
pycparser==2.21
pycryptodome==3.20.0
pydal==20240713.1
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
Pygments==2.15.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.5
PyJWT==2.9.0
pymongo==4.6.2
pyparsing==3.1.0
pyperclip==1.8.2
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
python-minifier==2.9.0
pytube==15.0.0
pytz==2023.3
pywin32==306
pywin32-ctypes==0.2.2
pyzmq==25.1.0
referencing==0.35.1
renoir==1.7.1
reportlab==4.0.4
requests==2.31.0
rich==13.7.1
rocket3==20231022.2
rpds-py==0.20.0
selenium==4.24.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
stack-data==0.6.2
starlette==0.38.5
streamlit==1.37.1
tenacity==8.5.0
threadsafevariable==20230507.1
toml==0.10.2
tornado==6.3.2
traitlets==5.9.0
trio==0.26.2
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2023.3
urllib3==2.0.3
uvicorn==0.30.6
watchdog==4.0.2
watchgod==0.8.2
wcwidth==0.2.6
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.4
whichcraft==0.6.1
wsproto==1.2.0
WTForms==3.1.2
yatl==20230507.3
yfinance==0.2.43
youtube-dl==2021.12.17
zope.event==5.0
zope.interface==6.0
